# Python
backend/__pycache__/
backend/.env
backend/venv/
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Misc
.DS_Store
*.pdf
outputs/
backend/.pytest_cache/
backend/pytest-cache-files-*/
